params {
	HLA_path = "/path/to/tool/HLA-LA/src/"
	in_path = "/path/to/input/CRAMs/"
	graph = "PRG_MHC_GRCh38_withIMGT"
}


process {
        executor = "slurm"
        //executor = "local"
	// uncomment the line below if you want to specify additional options e.g. account name
	// clusterOptions = "--account=account"
	cpus = 1
        time = "2d"
        memory = "64GB"
}

executor {
        $slurm {
                queueSize = 100
                jobName = { "extract" }
        }
        $local {
                cpus = 1
        }
}
