
params {
	reference = "/cvmfs/soft.mugqic/CentOS6/genomes/species/Homo_sapiens.GRCh38/genome/Homo_sapiens.GRCh38.fa"
	path = "/path/to/CRAMs/"
}


process {
        executor = "slurm"
        //executor = "local"
	// uncomment the line below if you want to specify additional options e.g. account name
	clusterOptions = "--account=account"
	cpus = 1
        time = "12h"
        memory = "4GB"
}

executor {
        $slurm {
                queueSize = 100
                jobName = { "extract" }
        }
        $local {
                cpus = 1
        }
}
